/* Left sidebar layout */

.left-sidebar {
    text-align: center;
    font-size: 0;
}

.left-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.left-sidebar .left {
    max-width: 100px;
}

.left-sidebar .right {
    max-width: 500px;
}

.left-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.left-sidebar .contents {
    font-size: 14px;
    text-align: center;
}

.left-sidebar a {
    color: #85ab70;
}
